.root {
    font-size: 14px;
    font-family: sans-serif;
    background-color: #ffffff;
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.button {
    -fx-alignment: BASELINE_LEFT;
    -fx-pref-width: 180px;
}